@font-face {
  font-family: "font-light";
  src: url(../assets/fonts/Lato-Light.ttf);
}

@font-face {
  font-family: "font-regular";
  src: url(../assets/fonts/Lato-Regular.ttf);
}

@font-face {
  font-family: "font-bold";
  src: url(../assets/fonts/Lato-Bold.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  font-family: font-regular;
  line-height: 1.4rem;
  background-color: #f0f2f5;
  color: #4E5166;
  margin: auto;
}

.success {
  color: green;
  font-weight: bold;
}

.error {
  color: red;
  font-weight: bold;
}

/*---------------------*/
/*     navbar          */
/*---------------------*/

nav {
  position: fixed;
  width: 100%;
  height: 80px;
  z-index: 10;
  top: 0;
  background-color: #ffffff;
  border-bottom: 6px solid #FFD7D7;
}

.nav-container {
  display: flex;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  justify-content: space-between;
  height: 80px;
  align-items: center;
  overflow: hidden;
  border-bottom: 6px solid #FFD7D7;
}

.nav-container button {
  border-radius: 3px;
  height: 40px;
  min-width: 70px;
  color: #FFD7D7;
  background-color: #FD2D01;
}

.nav-container button:hover {
  color: #FD2D01;
  background-color: #FFD7D7;
}

.logo {
  overflow: hidden;
}

.logo img {
  width: 230px;
  object-fit: contain;
  overflow: hidden;
}

.nav-right {
  display: flex;
  align-items: center;
  column-gap: 20px;

}

.welcome {
  padding: 0 30px;
}

/*---------------------*/
/*     profil page     */
/*---------------------*/

.profil-page {
  width: 100%;
  margin-top: 100px;

}

.profil-log-container {
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.log-form-container {
  background-color: #ffffff;
  color: #4E5166;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  padding: 15px;
  border: 1px solid #FFD7D7;

}

.log-form-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;

}

.log-form-container a:link {
  color: #FD2D01;
}

.log-form-container a:visited {
  color: #FD2D01;
}

.log-form-container a:hover {
  color: #FFD7D7;
}

.log-form-container a:active {
  color: #FFD7D7;
}

.log-form-container input[type=text] {
  width: 100%;
  padding: 5px 0;
  text-align: center;
  color: #4E5166;
  border: 1px solid #FFD7D7;
}

.log-form-container input[type=password] {
  width: 100%;
  padding: 5px 0;
  text-align: center;
  color: #4E5166;
  border: 1px solid #FFD7D7;
}

.log-form-container button {
  border-radius: 3px;
  height: 30px;
  min-width: 110px;
  color: #4E5166;
  background-color: #FFD7D7;
}

.log-form-container button:hover {
  color: #FFD7D7;
  background-color: #FD2D01;
}

.log-form-container input[type=submit] {
  width: 100%;
  border-radius: 3px;
  height: 30px;
  min-width: 130px;
  margin-top: 20px;
  color: #4E5166;
  background-color: #FFD7D7;
}

.log-form-container input[type=submit]:hover {
  color: #FFD7D7;
  background-color: #FD2D01;
}

/*---------------------*/
/*     posts page     */
/*---------------------*/

.posts-page {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  margin-top: 100px;
  padding: 5px 10px 7px;

}

.posts-page-header {
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;

}

.btn-create-post {
  border-radius: 3px;
  height: 30px;
  min-width: 186px;
  color: #FFD7D7;
  background-color: #FD2D01;
  transition: transform .1s;
}

.btn-create-post:hover {
  transform: scale(1.08);
}

.btn-refresh {
  border-radius: 3px;
  height: 30px;
  min-width: 110px;
  color: #FFD7D7;
  background-color: #FD2D01;
  transition: transform .1s;
}

.btn-refresh:hover {
  transform: scale(1.08);
}

.posts-page form {
  margin-top: 20px;
  padding: 10px 12px 12px;
  border: 1px solid #FFD7D7;
}

.posts-page form textarea {
  margin-top: 20px;
  padding: 10px 12px 12px;
  width: 100%;
  min-height: 120px;
  overflow: scroll;
  overflow-x: hidden;
  resize: vertical;
  border: 1px solid #FFD7D7;
}

.create-post-footer {
  display: flex;
  justify-content: space-between;
  column-gap: 20px;
  align-items: baseline;

}

.create-post-submit {
  border-radius: 3px;
  height: 30px;
  min-width: 130px;
  color: #4E5166;
  background-color: #FFD7D7;
}

.create-post-submit:hover {
  color: #FFD7D7;
  background-color: #FD2D01;
}

.create-post-cancel {
  border-radius: 3px;
  height: 30px;
  min-width: 130px;
  color: #4E5166;
  background-color: #e0e4eb;
}

.create-post-cancel:hover {
  color: #4E5166;
  background-color: #d1d7e0;
}

.post-img-to-upload {
  max-width: 100%;
  height: auto;
}

.btn-upload-delete {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.addimage {
  cursor: pointer;
  font-size: 22px;
  position: relative;
}

.tooltip-addimage {
  visibility: hidden;
  width: 130px;
  background-color: #e0e4eb;
  color: #4E5166;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 10;
  top: -5px;
  left: 110%;
  font-size: 14px;
  font-family: font-light;
  opacity: 0;
  transition: opacity 1s;
}

.addimage .tooltip-addimage::after {
  content: " ";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent #e0e4eb transparent transparent;
}

.addimage:hover .tooltip-addimage {
  visibility: visible;
  opacity: 1;
}

.deleteimage {
  cursor: pointer;
  font-size: 18px;
  position: relative;
}

.tooltip-deleteimage {
  visibility: hidden;
  width: 130px;
  background-color: #e0e4eb;
  color: #4E5166;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 10;
  top: -5px;
  right: 110%;
  font-size: 14px;
  font-family: font-light;
  opacity: 0;
  transition: opacity 1s;
}

.deleteimage .tooltip-deleteimage::after {
  content: " ";
  position: absolute;
  top: 50%;
  left: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent #e0e4eb;
}

.deleteimage:hover .tooltip-deleteimage {
  visibility: visible;
  opacity: 1;
}

.post {
  margin-top: 20px;
  padding: 10px 12px 12px;
  border: 1px solid #FFD7D7;
}

.post-image {
  margin-top: 20px;
  max-width: 100%;
  height: auto;
}

.posts-page ul li textarea {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px 12px 12px;
  width: 100%;
  min-height: 120px;
  overflow: scroll;
  overflow-x: hidden;
  resize: vertical;
  border: 1px solid #FFD7D7;
}

.post-header {
  display: flex;
  justify-content: space-between;
}

.post-content {
  padding: 20px 12px 30px;
}

.post-footer {
  display: flex;
  justify-content: space-between;
}

.thumb-up {
  cursor: pointer;
}

.thumb-down {
  cursor: pointer;
}

.liked {
  color: #FD2D01;
}

.disliked {
  color: #FD2D01;
}

.post-maj-btn {
  display: flex;
  justify-content: space-between;
  column-gap: 20px;
}

.post button {
  border-radius: 3px;
  padding: 3px 10px 4px;
  color: #4E5166;
  background-color: #FFD7D7;
}

.post button:hover {
  color: #FD2D01;
}

.reply {
  font-size: 0.85em;
  padding-left: 12px;
  cursor: pointer;
}

.reply:hover {
  color: #7d819b;
}

/*--------------------------*/
/*     comments section     */
/*--------------------------*/

.comment {
  border-top: 1px solid #FFD7D7;
  margin-top: 20px;
  padding: 10px 12px 0px;
}

.comment-header {
  display: flex;
  justify-content: space-between;
}

.comment-content {
  padding: 20px 12px 30px;
}

.comment-footer {
  display: flex;
  justify-content: space-between;
}

.comment-maj-btn {
  display: flex;
  justify-content: space-between;
  column-gap: 20px;
}

.comment button {
  border-radius: 3px;
  padding: 3px 10px 4px;
  color: #4E5166;
  background-color: #FFD7D7;
}

.comment button:hover {
  color: #FD2D01;
}